.idea
vendor
composer.lock
data/tmp/*
data/logs/*
!data/logs/.gitkeep
!data/tmp/.gitkeep
examples/output
examples/tests/*
examples/data/logs/*
examples/ffmpeg-20170915-6743351-win64-static
!examples/data/logs/.gitkeep
!examples/output/.gitkeep